<!-- General overview of a group of tasks -->
<!-- It can be a project, a list of projects, all tasks, pendents... -->
<div class="project-wrapper">

    <!-- Titulo -->
    <heading>
        <h2>Probar  y testear main items</h2>
        <p>Lista de proyecto de prueba para descripcion</p>
    </heading>
    <!-- quizás mostrar descripción -->


    <!-- MOstrar tareas -->
    <ul>
        <li>
            <p>Probar project default</p>
        </li>

        <li>
            <p>Crear custom task y añadirlas al custom project</p>
        </li>
    </ul>

    <footer>
        <form action="#">
            <input type="text" placeholder="Add task">
            <button type="submit">+</button>
        </form>
    </footer>
</div>